@media (max-width: 1399px) {
    .contactLeft { width: 39%; }
    .contactRight { width: 60%; }
}
@media (max-width: 1366px) {
    .bannerAreaInner { padding: 100px 0 230px; }
    .bannerAreaInner h1 { font-size: 55px; line-height: 73.3px; }
    .bannerAreaInner h2 { font-size: 30px; line-height: 40px; }
    .bannerAreaInner > p { font-size: 24px; line-height: 32px; }
    .targetMain { padding: 0 0 50px; }
    .moshpitMain { padding: 0 0 10px; }
    .brandsMain { padding: 0 0 50px; }
    .firstPartyRightInner { width: 100%; height: 430px; margin-top: 0; }
    .firstPartyRightInner .img-fluid { width: 100%; height: 400px; object-fit: contain; }
}
@media (max-width: 1199px) {
    .headingOther h2 { font-size: 48px; line-height: 58px; }

    .bannerAreaInner h1 { font-size: 48px; line-height: 64px; }
    .bannerAreaInner h2 { font-size: 28px; line-height: 37.3px; }
    .bannerBottomLeft h2 { font-size: 40px; line-height: 53px; }
    .bannerBottomInner { padding: 40px 0; }
    .bannerBottomRight p { margin: 20px 0 15px; }

    .targetLeft h2 { font-size: 36px; line-height: 48px; }
    .targetLeftImageData, .targetRightImageData { padding: 20px 25px; }
    .targetLeftImageData h4, .targetRightImageData h4 { font-size: 20px; line-height: 26.6px; }
    .platformMain { padding: 0 0 50px; }
    .platformInner h2 { font-size: 36px; line-height: 48px; }
    .brandsInner h2 { font-size: 36px; line-height: 48px; }
    .brandsImages img { width: 340px; }
    
    .contactHomeMain { padding: 50px 0; }
    .contactPost h2 { font-size: 45px; line-height: 60px; }
    .moshpitOuter { padding: 50px 0; }
    .moshpitLeft h2 { font-size: 80px; line-height: 95px; }
    .moshpitLeft h2 span { font-size: 44px; line-height: 55px; }
    .consulting { padding: 50px 0; }
    .main_heading h2 { font-size: 36px; line-height: 48px; }
    .newsletterArea { padding: 50px 0 50px; }

    .footerTop { padding: 50px 0 0; }
    .contactMain { padding: 70px 0; }
    .contactLeft { width: 46%; }
    .contactRight { width: 54%; padding: 40px 50px 50px; }
    .modalCustom .modal-dialog { min-width: auto; max-width: 960px; }
    .subscribeArea { padding: 100px 30px 90px; }
}

@media (max-width: 991px) {
    .mobile-nav .accordion-item h2 { font-size: 16px; line-height: 22px; color: #000; margin-bottom: 0; display: flex; width: 100%; gap: 5px; font-weight: 400; }
    .mobile-nav .accordion-item h2 button { background: unset; border: unset; padding: 0; display: flex; align-items: center; width: 100%; color: #000; font-size: 20px; line-height: 28px; box-shadow: none; }
    .mobile-nav .accordion-item h2 button.accordion-button::after { display: none; }
    .mobile-nav .accordion-item h2 button span { vertical-align: middle; margin-left: 5px; }
    .mobile-nav .accordion-item h2 button:focus { outline: unset; outline:unset; }
    .mobile-nav .accordion-item .accordion-body { padding: 0; }
    .mobile-nav .accordion-item { border: 0; border-bottom: 1px solid #eee; padding: 10px 0; }
    .mobile-nav .b-nav ul { padding-left: 15px; margin-top: 10px; }
    .mobile-nav { display: block; }
    .mobile-nav .sidebar_menuItems ul { padding-left: 15px; margin-top: 10px; animation: none; transition: none; position: unset; }
    .mobile-nav .sidebar_menuItems ul li { width: 100%; display: block; animation: none; transition: none; transform: none; }
    .mobile-nav .sidebar_menuItems ul li a { font-size: 20px; line-height: 28px; color: #000; -webkit-font-smoothing: antialiased; padding: 3px 0; display: block; }
    .mobile-nav .accordion-item .active h2 { color: #373A47; }
    header { min-height: unset; }
    header.fixed_header { background: #fff; width: 100%; position: fixed; left: 0; right: 0; z-index: 999; box-shadow: 0 2px 5px rgb(0 0 0 / 19%); transition: .3s all; top: 0; }
    header.profile_header { padding: 0 0 69px 0; }
    header.profile_header .profile_header2 { padding: 12px 20px; width: 100%; position: fixed; left: 0; right: 0; z-index: 9; transition: .3s all; background: #fff; }
    .collapse.header_menu:not(.show) { display: block; }
    .navbar-light .navbar-toggler:hover, .navbar-light .navbar-toggler:focus { outline: none; }
    .navbar-nav li { border-bottom: 1px solid rgb(0 0 0 / 8%); padding: 0; width: 100%; display: none; }
    .navbar-light .navbar-nav .nav-link { border-radius: 0; color: #111; font-size: 15px; padding: 10px 15px; text-align: right; }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link { color: #000; }
    .navbar-nav li.nav-itemBtn { padding: 0; margin: 0; display: block; border: 0; width: unset; }
    .navbar-nav li .btn.nav-link { color: #fff; padding: 0; border: none; margin-right: 0; display: flex; align-items: center; height: 26px; font-size: 16px; line-height: 22px; }
    .fixed_header .navbar-nav li .btn.nav-link { color: #fff; }
    .fixed_header .desk_logo1 { display: none; }
    .fixed_header .desk_logo2 { display: block; }
    .user_profile { margin-right: 50px; }
    header .dropdown-item { text-align: left; padding: 10px 15px; }
    header .dropdown-menu:before { display: none; }
    .navbar-collapse { margin: 0; flex-basis: unset; flex-grow: unset; }
    header .dropdown-toggle::after {right: 0; }
    header .dropdown-menu { padding: 0; }

    .headingOther h2 { font-size: 40px; line-height: 53px; }
    .banner { background-size: cover; }
    .bannerAreaInner h1 { font-size: 48px; line-height: 64px; margin: 0 0 20px; }
    .bannerAreaInner > p { font-size: 22px; line-height: 30px; margin: 0; }

    .bannerBottomInner { padding: 40px 20px; }
    .bannerBottomRight p { padding-left: 20px; }
    .bannerBottomRight ul li h3 { font-size: 16px; line-height: 21.3px; }

    .moshpitLeft h2 { font-size: 70px; line-height: 93px; }
    .moshpitLeft h2 span { font-size: 34px; line-height: 45px; }
    .moshpitRight p { font-size: 16px; line-height: 21.3px; }
    .moshpitRight .btn { font-size: 16px; }
    .moshpitRight .btn i { font-size: 18px; padding-left: 5px; }
    .new_grid_content { width: calc(50% - 8px); }
    .brandsImages img { width: 240px; }

    .firstPartyMain .container-fluid { padding: 0 15px; }
    .firstPartyLeft { margin: 0 0 20px; }

    .newsletterLeft h3 { margin: 0 0 15px; }
    .footerTop h3 { font-size: 18px; }
    .footerInner>p { padding: 0; }
    /* START modalCustom */
    .modalCustom .modal-dialog { min-width: auto; max-width: 760px; }
    .subscribeArea { padding: 70px 20px; }
    .subscribeArea h2 { margin: 0 0 25px; }
    .subscribeArea h3 { margin: 0 0 10px; }
    .subscribeArea p { margin: 0 0 20px; }
    /* END modalCustom */

    /* START contactMain */
    .contactLeft { width: 100%; display: none; }
    .contactLeft img { width: 100%; height: 600px; object-fit: cover; }
    .contactRight { width: 100%; padding: 40px 50px 50px; }
    /* END contactMain */

    .cont-text { padding-right: 0; }
}

@media (max-width: 767px) {
    .headingOther { margin: 0 0 10px; }
    .headingOther h4 { font-size: 18px; margin: 0 0 10px; }
    .headingOther h2 { font-size: 32px; line-height: 44px; }
    .headingOther p { font-size: 15px; line-height: 20px; }

    .contactMain { padding: 50px 0; }
    .contactLeft img { height: 500px; }
    .bannerAreaInner { padding: 100px 0 150px; }

    .bannerBottom { padding: 50px 0; }
    .bannerBottomInner { padding: 20px 25px; top: -100px; top: 0; flex-direction: column; }
    .bannerBottomLeft { width: 100%; }
    .bannerBottomLeft h2 { font-size: 35px; line-height: 46.6px; }
    .bannerBottomRight { width: 100%; }
    .bannerBottomRight p { padding: 0; margin: 0 0 20px; }
    .bannerBottomRight ul { text-align: left; }

    .targetMain { padding: 0; top: 0; }
    .targetLeft { padding-right: 0; }
    .targetLeft p { margin: 0 0 30px; }
    .targetLeft h2 { font-size: 35px; line-height: 46.6px; margin: 0 0 10px; }
    .targetLeftImage { margin: 0 0 30px; }
    .targetLeftImage img { position: relative; width: 100%; }
    .targetLeftImageData { bottom: 40px; left: -6px; }
    .targetRight { padding-left: 0; }
    .targetRightInner { margin: 0 0 20px; }
    .targetRightInner h3 { margin: 0 0 5px; }
    .targetRightBottom { padding: 20px 0 0; margin: 0; }
    .targetRightImage { margin: 0 0 30px; }
    .targetRightImage img { position: relative; width: 100%; }
    .targetRightImageData { bottom: 40px; right: -8px; }

    .brandsMain { padding: 0 0 40px; }
    .brandsInner { padding: 25px 25px 0; }
    .brandsInner h2 { font-size: 35px; line-height: 50px; }
    .brandsImages { margin: 30px 0 0; }
    .brandsImages img { width: 200px; }
    .brandsInner p { padding: 0; }

    .firstPartyMain { padding: 0 0 40px; }

    .platformMain { padding: 0 0 40px; }
    .platformInner { padding: 25px; }
    .platformInner h2 { font-size: 32px; line-height: 42px; }
    .platformInner p { padding: 0; }

    .moshpitMain { padding: 0; }
    .moshpitOuter { padding: 40px 0; flex-direction: column; }

    .moshpitLeft { width: 100%; padding: 0 15px 15px; border: none; }
    .moshpitLeft h2 { font-size: 55px; line-height: 73.3px; margin: 0; }
    .moshpitLeft h2 span { font-size: 30px; line-height: 40px; }
    .moshpitRight { width: 100%; padding: 0 25px 15px 15px; }
    .moshpitRight p { margin: 0 0 20px; }

    .main_heading { margin: 0; }
    .main_heading h2 { font-size: 32px; line-height: 42.6px; text-align: left; }
    .main_heading p { padding: 0; }
    .consulting { padding: 40px 0; }
    .consult_img img { width: 100%; }
    .grid_2 { margin-top: 20px; }
    .new_grid_content:nth-child(2) { margin-top: 0; }
    .new_grid_content:nth-child(4) { margin-top: 0; }

    .contactHomeMain { padding: 40px 0; }
    .contactPost h2 { font-size: 45px; line-height: 60px; }
    .contactPost p { margin-bottom: 30px; }

    .newsletterArea { padding: 40px 0 40px; }
    .newsletterLeft h3 { font-size: 32px; line-height: 42.6px; }
    .footerTop { padding: 40px 0 0; }
    .footerInner ul { margin: 0; }
    .footerTop h3 { font-size: 20px; }
    .footerInner > p { font-size: 15px; line-height: 20px; padding-right: 0; }
    .footerInner ul li a { font-size: 15px; line-height: 20px; }
    .addressFooter ul li p { font-size: 15px; line-height: 20px; }
    .copyInner { padding: 15px 0; }
    .copyInner p { font-size: 15px; line-height: 20px; }

    /* START modalCustom */
    .modalCustom .modal-dialog { min-width: 460px; max-width: 90%; margin: 80px auto 0; position: unset; transform: unset !important; }
    .modalCustom .col-lg-6:first-child { display: none; }
    .subscribeArea { padding: 80px 45px 80px; }
    .subscribeArea h2 { margin: 0 0 30px; }
    .subscribeArea h3 { margin: 0 0 10px; }
    .subscribeArea p { margin: 0 0 30px; }
    /* END modalCustom */

    /* START contact-us-section */
    .contact-us-section { padding: 10px 0 60px !important; }
    .title-text h2 { font-size: 35px; line-height: 46.6px; }
    .contact-us-section .mb-5 { margin-bottom: 25px !important; }
    .cont-text { padding: 0 4%; }
    .cont-form { padding-left: 15px; }
    .cont-form form { padding: 0 4%; }
    .title-text h2 { margin: 0; }
    /* END contact-us-section */
}

@media (max-width: 575px) {
    .desk_logo1 { display: none; }
    .navbar-brand>img.mobile_logo { display: block; width: 100px; }
    .fixed_header .desk_logo2 { display: none; }
    .profile_header .desk_logo2 { display: none; }

    .bannerAreaInner { padding: 60px 0 50px; }
    .bannerAreaInner h1 { font-size: 40px; line-height: 53px; margin: 0 0 15px; }
    .bannerAreaInner h2 { font-size: 25px; line-height: 33.3px; }
    .bannerBtn { text-align: left; }
    .banner { background-position: left top; }

    .bannerBottomLeft h2 { font-size: 28px; line-height: 37.3px; }
    .bannerBottomRight ul { display: block; }
    .bannerBottomRight ul li { display: inline-block; width: auto; padding-right: 20px; }

    .targetLeft h2 { font-size: 28px; line-height: 37.3px; }
    .targetLeft h4 { margin: 0 0 10px; font-size: 20px; line-height: 26.3px; }
    .targetLeftImageData { padding: 15px; }
    .targetLeftImageData h4 { font-size: 22px; line-height: 29.3px; }
    .targetRightInner h3 { font-size: 22px; line-height: 29.3px; }
    .targetRightInner p { font-size: 16px; line-height: 21.3px; }
    .targetRightImageData { padding: 15px; }
    .targetRightImageData h4 { font-size: 22px; line-height: 29.3px; }
    .targetRightImage { margin: 0 0 10px; }

    .brandsMain { padding: 0 0 30px; }
    .brandsInner h2 { font-size: 28px; line-height: 37.3px; margin: 0 0 10px; }
    .brandsInner p { font-size: 16px; line-height: 21.3px; }
    .brandsImages img { width: 170px; }

    .firstPartyMain { padding: 0 0 30px; }
    .firstPartyRight { display: block; }
    .firstPartyRightInner { height: auto; padding: 20px; margin: 0 0 20px; }
    .firstPartyRightInner h3 { margin: 0 0 10px; }
    .firstPartyRightInner:nth-child(2) h3 { order: 1; }
    .firstPartyRightInner:nth-child(2) p { order: 2; }

    .consulting { padding: 30px 0; }
    .contactHomeMain { padding: 30px 0; }
    .contactPost h2 { font-size: 28px; line-height: 37.3px; margin: 0 0 10px; }

    .inner-text h3 { font-size: 22px; line-height: 29.3px; }
    .main_heading h2 { font-size: 25px; line-height: 33.3px; margin: 0 0 10px; }
    .main_heading p { font-size: 16px; line-height: 21.3px; }

    .platformMain { padding: 0 0 30px; }
    .platformInner h2 { font-size: 28px; line-height: 37.3px; padding: 0; margin: 0 0 10px; }
    .platformInner p { font-size: 16px; line-height: 21.3px; }

    .moshpitOuter { padding: 30px 0; }
    .moshpitLeft h2 { font-size: 45px; line-height: 60px; }
    .moshpitLeft h2 span { font-size: 22px; line-height: 29.6px; }
    .moshpitRight { padding: 0 20px 0 15px; }
    .moshpitRight p { font-size: 16px; line-height: 21px; margin: 0 0 15px; }

    /* START footer */
    .newsletterLeft h2 { font-size: 18px; line-height: 24px; margin: 0 0 5px; }
    .newsletterLeft h3 { font-size: 28px; line-height: 37.3px; }
    .newsletterInner .form-control { margin: 0 0 20px; width: 100%; }
    .newsletterInner .input-group-text { display: inline-block; width: 100%; text-align: left; }
    .footerInner { min-height: 130px; margin: 0 0 15px; border-bottom: 1px solid #ddd; padding: 0 0 10px; }
    .footerRES:last-child .footerInner { border: none; padding: 0; }
    /* END footer */

    /* START modalCustom */
    .modalCustom .modal-dialog { min-width: 360px; max-width: 90%; }
    .formModel .form-control { margin: 0 0 30px; width: 100%; }
    .formModel .input-group-text { text-align: center; display: inline-block; width: 100%; }
    .subscribeArea { padding: 70px 30px; }
    /* END modalCustom */
}

@media (max-width: 480px) {
    header .navbar { min-height: unset; }
    .navbar-brand>img { width: 45px; }
    header.profile_header { padding: 0 0 67px 0; }
    .navbar-nav li .btn.nav-link { margin-right: 0; }
    .b-menu { width: 28px; right: 16px; }
    .user_profile { margin-right: 45px; }
    .b-bun--bottom, .b-bun--mid, .b-bun--top { width: 28px; }
    .b-bun--mid { top: 6px; }
    .b-bun--bottom { top: 12px; }
    .b-nav.open { padding-top: 50px; }
    .mobile_logo { display: block; }
    .desk_logo1, .profile_header .desk_logo2 { display: none; }

    .contactLeft img { height: auto; }
    .contactRight { padding: 10px 20px 30px; }
    .contactRight h2 { font-size: 46px; line-height: 61.3px; margin: 0 0 10px; }
    .btnContact { margin: 0; }
    .brandsImages img { width: 150px; }
    .bannerBottomInner { padding: 15px; }
    .bannerBottomRight ul li { padding-right: 10px; }
    .platformInner { padding: 20px; }
    .moshpitLeft h2 span { font-size: 28px; line-height: 37.3px; }
    .targetRightImageData h4 { font-size: 18px; line-height: 24px; }
    .targetLeftImageData h4 { font-size: 18px; line-height: 24px; }
    .grid_2 { flex-direction: column; }
    .boxDescription_p { padding: 15px; }
    .new_grid_content { width: 100%; position: relative; }
    /* START modalCustom */
    .modalCustom .modal-dialog { min-width: 320px; max-width: 90%; }
    .subscribeArea { padding: 60px 20px; }
    /* END modalCustom */
}


@media (max-width: 360px) {
    .bannerAreaInner h1 { font-size: 32px; line-height: 42.6px; margin: 0 0 10px; }
    .moshpitLeft { padding: 0 12px 12px; }
    .b-bun--bottom, .b-bun--mid, .b-bun--top { width: 26px; }
    .b-menu { width: 26px; }
    .navbar-nav li .btn.nav-link { margin-right: 0; }
    .brandsImages img { width: 120px; }
    .bannerBottomRight ul li { padding-right: 6px; }
    /* START modalCustom */
    .modalCustom .modal-dialog { min-width: 98%; max-width: 98%; }
    .subscribeArea { padding: 60px 15px; }
    .subscribeArea h2 { font-size: 24px; line-height: 32px; }
    .subscribeArea h3 { font-size: 32px; line-height: 44px; margin: 0 0 15px; }
    .subscribeArea p { margin: 0 0 20px; }
    .formModel .form-control { margin: 0 0 20px; }
    /* END modalCustom */
}
